<button class="btn"><a href="index.html">Home Page</a></button>

<h1 class="container text-center mb-4">Employees</h1>

<div id="customTable" class="container col-10">
	<table class="table">
		<thead>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Date of Birth</th>
			<th>Assigned Resort</th>
			<th>Assigned Lift</th>
		</thead>
		<tbody>
			{{#each employees}}
			<tr>
				<td>{{fname}}</td>
				<td>{{lname}}</td>
				<td id="formatDate">{{birthday}}</td>
				<td>{{rname}}</td>
				<td>{{liname}}</td>
				<td id="tableBtn"><a href="/employees/{{id}}">Update</a></td>
				<td id="tableBtn"><button class="btn btn-danger" onclick="deleteEmployee({{id}})">Delete</button></td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>

<div class="container col-6 my-4">
	<h3>Add Employee</h3>
	<form action="/employees" method="POST">
		<div class="form-group">
			<label for="fname">First Name:</label>
			<input type="text" class="form-control" name="fname" maxlength="20" required>
		</div>
		<div class="form-group">
			<label for="lname">Last Name:</label>
			<input type="text" class="form-control" name="lname" maxlength="20" required>
		</div>
		<div class="form-group">
			<label for="birthday">Date of Birth:</label>
			<input type="Date" class="form-control" name="birthday" required>
		</div>
		<div class="form-group">
			<label for="resort">Assigned Resort:</label>
			<select class="form-control" name="resort" required>
				{{#each resorts}}
					<option value="{{id}}">{{name}}</option>
				{{/each}}
			</select>
		</div>
		<div class="form-group">
			<label for="lift">Assigned Lift:</label>
			<select class="form-control" name="lift" required>
				{{#each lifts}}
					<option value="{{id}}">{{name}}</option>
				{{/each}}
			</select>
		</div>
		<button type="submit" class="btn btn-primary col-4">Add</button>
	</form>
</div>