<!DOCTYPE html>
<html>
<h1 class="container text-center mb-4">Employees</h1>

<div class="container border">
	<table class="table">
		<h3>Employees in the Database</h3>
		<thead>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Date of Birth</th>
			<th>Assigned Resort</th>
			<th>Assigned Lift</th>
		</thead>
		<tbody>
			{{#each employees}}
			<tr>
				<td>{{fname}}</td>
				<td>{{lname}}</td>
				<td>{{birthday}}</td>
				<td>{{rname}}</td>
				<td>{{liname}}</td>
				<td><a href="/employees/{{id}}">Update</a></td>
				<td><button class="btn btn-danger" onclick="deleteEmployee({{id}})">Delete</button></td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>

<div class="container-fluid row">
	<div class="container col-6 my-4 border">
		<h3>Add Employee</h3>
		<form action="/employees" method="POST">
			<div class="form-group">
				<label for="fname">First Name:</label>
				<input type="text" class="form-control" name="fname">
			</div>
			<div class="form-group">
				<label for="lname">Last Name:</label>
				<input type="text" class="form-control" name="lname">
			</div>
			<div class="form-group">
				<label for="birthday">Date of Birth:</label>
				<input type="Date" class="form-control" name="birthday">
			</div>
			<div class="form-group">
				<label for="resort">Assigned Resort:</label>
				<select class="form-control" name="resort">
					{{#each resorts}}
						<option value="{{id}}">{{name}}</option>
					{{/each}}
				</select>
			</div>
			<div class="form-group">
				<label for="lift">Assigned Lift:</label>
				<select class="form-control" name="lift">
					{{#each lifts}}
						<option value="{{id}}">{{name}}</option>
					{{/each}}
				</select>
			</div>
			<button type="submit" class="btn btn-primary">Add</button>
		</form>
	</div>
</div>

<div class="container">
	<button class="btn"><a href="index.html">Home Page</a></button>
</div>

</html>