<button class="btn"><a href="index.html">Home Page</a></button>

<h1 class="container text-center mb-4">Lifts</h1>

<div id="customTable" class="container col-10">
	<table class="table">
		<thead>
			<th>Name</th>
			<th>Capacity</th>
			<th>High-Speed</th>
			<th>Parent Resort</th>
		</thead>
		<tbody>
			{{#each lifts}}
			<tr>
				<td>{{name}}</td>
				<td>{{capacity}}</td>
				<td>{{highspeed}}</td>
				<td>{{rname}}</td>
				<td id="tableBtn"><a href="/lifts/{{id}}">Update</a></td>
				<td id="tableBtn"><button class="btn btn-danger" onclick="deleteLift({{id}})">Delete</button></td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>

<div class="container col-6 my-4">
	<h3>Add Lift</h3>
	<form action="/lifts" method="POST">
		<div class="form-group">
			<label for="name">Name:</label>
			<input type="text" class="form-control" name="name" required>
		</div>
		<div class="form-group">
			<label for="capacity">Capacity:</label>
			<select class="form-control" name="capacity" required>
				<option value="2">2</option>
				<option value="4">4</option>
				<option value="6">6</option>
			</select>
		</div>
		<div class="form-group">
			<label for="highspeed">High-speed?</label>
			<select class="form-control" name="highspeed" required>
				<option value="Yes">Yes</option>
				<option value="No">No</option>
			</select>
		</div>
		<div class="form-group">
			<label for="resort">Parent Resort:</label>
			<select class="form-control" name="resort" required>
				{{#each resorts}}
					<option value="{{id}}">{{name}}</option>
				{{/each}}
			</select>
		</div>
		<button type="submit" class="btn btn-primary col-4">Add</button>
	</form>
</div>