<!DOCTYPE html>
<html>

<h1 class="container text-center mb-4">Resorts</h1>

<div class="container border">
	<table class="table">
		<h3>Resorts in the Database</h3>
		<thead>
			<th>Name</th>
			<th>Location</th>
			<th>Size</th>
			<th>Price</th>
		</thead>
		<tbody>
			{{#each resorts}}
			<tr>
				<td>{{name}}</td>
				<td>{{location}}</td>
				<td>{{size}}</td>
				<td>{{price}}</td>
				<td><a href="/resorts/{{id}}">Update</a></td>
				<td><button class="btn btn-danger" onclick="deleteResort({{id}})">Delete</button></td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>

<div class="container-fluid row">
	<div class="container col-6 my-4 border">
		<h3>Add Resort</h3>
		<form action="/resorts" method="POST">
			<div class="form-group">
				<label for="name">Name:</label>
				<input type="text" class="form-control" name="name">
			</div>
			<div class="form-group">
				<label for="location">Location:</label>
				<input type="text" class="form-control" name="location">
			</div>
			<div class="form-group">
				<label for="size">Size:</label>
				<input type="text" class="form-control" name="size">
			</div>
			<div class="form-group">
				<label for="price">Price:</label>
				<input type="text" class="form-control" name="price">
			</div>
			<button type="submit" class="btn btn-primary">ADD</button>
		</form>
	</div>

<div class="container">
	<button class="btn"><a href="index.html">Home Page</a></button>
</div>

</html>