<button class="btn"><a href="/employees">Back</a></button>

<div class="container text-center mb-4">
	<h2>Update Employee:</h2>
	<h3>{{employees.fname}} {{employees.lname}}</h3>
</div>

<div class="container col-6 my-4">
	<form id="update-employee" action="/employees/{{employees.id}}" method="POST">	
		<div class="form-group">
			<label for="fname">First Name:</label>
			<input type="text" class="form-control" name="fname" value="{{employees.fname}}" maxlength="20" required>
		</div>
		<div class="form-group">
			<label for="lname">Last Name:</label>
			<input type="text" class="form-control" name="lname" value="{{employees.lname}}" maxlength="20" required>
		</div>
		<div class="form-group">
			<label for="birthday">Date of Birth:</label>
			<input type="Date" class="form-control" name="birthday" value="{{employees.birthday}}" required>
			<small id="formatSmallDate" class="form-text text-muted">Current listed: {{employees.birthday}}</small>
		</div>
		<div class="form-group">
			<label for="resort">Assigned Resort:</label>
			<select class="form-control" name="resort" id="resort-selector" required>
				{{#each resorts}}
					<option value="{{id}}">{{name}}</option>
				{{/each}}
			</select>
		</div>
		<div class="form-group">
			<label for="lift">Assigned Lift:</label>
			<select class="form-control" name="lift" id="lift-selector" required>
				{{#each lifts}}
					<option value="{{id}}">{{name}}</option>
				{{/each}}
			</select>
		</div>
	</form>
</div>

<script defer>selectResort({{employees.resort_id}});</script>
<script defer>selectLift({{employees.lift_id}});</script>