<div class="container text-center mb-4">
	<h2>Update Resort: {{resorts.name}} </h2>
</div>

<div class="container col-6 my-4">
	<form id="update-resort" action="/resorts/{{resorts.id}}" method="POST">
		<div class="form-group">
			<label for="name">Name:</label>
			<input type="text" class="form-control" name="name" value="{{resorts.name}}">
		</div>
		<div class="form-group">
			<label for="location">Location:</label>
			<input type="text" class="form-control" name="location" value="{{resorts.location}}">
		</div>
		<div class="form-group">
			<label for="size">Size:</label>
			<input type="text" class="form-control" name="size" value="{{resorts.size}}">
		</div>
		<div class="form-group">
			<label for="price">Price:</label>
			<input type="text" class="form-control" name="price" value="{{resorts.price}}">
		</div>
		<button class="btn btn-primary" onclick="updateResort({{resorts.id}})">UPDATE</button>
	</form>
</div>

<div class="container">
	<button class="btn"><a href="/resorts">Back</a></button>
</div>
